* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: #a9a9a9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
body {
  background-color: #94d2e9;
  width: 1200px;
  margin: auto;
  min-height: 100vh;
}
/* --- navbar menu --- */
header {
  width: 1200px;
  border-bottom: 3px solid salmon;
}
.container {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  flex-direction: row;
}
header .container {
  display: flex;
  align-items: flex-end;
  height: 100px;
}
.navbar-name,
.navbar-menu {
  display: flex;
}
.navbar-name {
  width: 294px;
}
.txt {
  font-size: 30px;
  font-weight: 600;
}
.text1,
.text3 {
  color: deeppink;
}
.text2,
.text4,
.navbar-menu {
  color: white;
}
.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
}
.navbar-menu {
  text-transform: uppercase;
  font-size: 16px;
  gap: 8px;
}
.navbar-item a:hover {
  color: rgb(71, 21, 199);
  font-weight: 600;
}
.navbar-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  color: white;
}
a {
  text-decoration: none;
}
.active {
  background-color: violet;
}
/* content box image */
.content-box-img {
  background: url("https://picsum.photos/id/2/1500/500/?blur=4") no-repeat;
  background-size: cover;
  width: 1200px;
}
.content-box-img .container {
  display: block;
  align-content: center;
  text-align: center;
  height: 400px;
}
.txt-title {
  color: white;
  font-size: 44px;
}
.txt-detail {
  color: deeppink;
  font-size: 20px;
}
.txt-detail p {
  display: inline-block;
  width: 80%;
}
/* content input E-mail */
.content-email {
  background-color: lightskyblue;
  align-items: center;
  width: 1200px;
}
.content-box-email {
  align-items: center;
  height: 65px;
}
.txt-content h1 {
  color: tomato;
}
.content-input input {
  width: 250px;
  height: 35px;
  padding: 4px;
  border-radius: 4px;
  border: none;
}
button.btn-01 {
  height: 35px;
  padding-inline: 20px;
  background-color: coral;
  color: white;
  border: none;
  border-radius: 4px;
}
button.btn-01:hover {
  background-color: white;
  color: coral;
  border: 2px solid coral;
  padding-inline: 18px;
}
/* --------- card item -------- */
.content-card .container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  text-align: center;
  width: 33.3%;
  height: auto;
  padding: 12px;
}
.card img {
  height: 120px;
}
.card p {
  width: 292px;
  text-align: justify;
}
/* --- about us ---- */
.txt-box-left {
  margin-top: 10px;
  padding: 1.5rem;
  flex: 1 0 70%;
}
.txt-box-left h1 {
  font-size: 21px;
}
.txt-box-left p {
  font-size: 18px;
}
.txt-box-rigth {
  background-color: violet;
  padding: 15px;
  color: white;
  margin-top: 35px;
  border-radius: 4px;
}
.txt-box-rigth h1 {
  font-size: 21px;
}
.txt-box-rigth p {
  font-size: 18px;
}

.txt-box-left li {
  font-size: 21px;
  font-weight: bold;
}

/* --- footer ---- */

.txt-footer {
  text-align: center;
  padding: 20px 0;
  background-color: lightskyblue;
  color: whitesmoke;
  min-height: 60px;
  width: 1200px;
  bottom: 0;
  position: absolute;
}
footer .index-footer {
  position: unset;
}

